body{
    margin: 0;
    padding: 0;
}
.container{
    max-width: auto;
    height: 100vh;
    position: relative;
}
.slide1, .slide2, .slide3{
    position: absolute;
    width: 100%;
    height: 100%;
    
}
.slide1{
    background: url(gambar1.jpg) no-repeat;
    animation: fade 20s infinite;
    background-size: cover;
    background-position: center;
}
.slide2{
    background: url(gambar2.jpg) no-repeat;
    animation: fade2 20s infinite;
    background-position: center;
    background-size: cover;
}
.slide3{
    background: url(gambar3.jpg) no-repeat;
    animation: fade3 20s infinite;
    background-position: center;
    background-size: cover;
}
@keyframes fade{
    0% {opacity: 1;}
    33.33% {opacity: 0;}
    66.66% {opacity: 0;}
    100% {opacity: 1;}
}
@keyframes fade2{
    0% {opacity: 0;}
    33.33% {opacity: 1;}
    66.66% {opacity: 0;}
    100% {opacity: 0;}
}
@keyframes fade3{
    0% {opacity: 0;}
    33.33% {opacity: 0;}
    66.66% {opacity: 1;}
    100% {opacity: 0;}
}
